 <% @photos.each do |photo| %>
    <div class="card photo-form">
        <div class="card-block">
        <%= link_to photo, class: "photo-link" do %>
            <%= image_tag photo.image.url(:medium) %>
            <% end %>
            <br>
            <strong><%= photo.description %></strong><br>
            <%= link_to photo.user.name, profile_path(photo.user_id)  %><br>
            
        </div>
    </div>
<% end %>