 <div class="card photo-form">

<div class="card-block">
<p>
<strong>Description:</strong>
<p><%= @photo.description %></p>
<p>Cоздал: <%= @photo.user.email %></p>
<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
</div>

</div> 